@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Gluten:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@theme {
  --color-primary: #ad95f2;
  --color-secondary: #95acf2;
  --color-whitey: #f4f4f4;
  --color-blackey: #0b0b0b;

  --font-primary: 'Gluten', sans-serif;
  --font-secondary: 'ABeeZee', sans-serif;

  --shadow-hero-button: 1px 2px 2px rgba(173, 149, 242, 0.5);
  --shadow-hero-button-hover: 3px 4px 2px rgba(173, 149, 242, 0.5);
  
  --shadow-products-container: 10px 15px 10px rgba(149, 172, 242, 0.5);
  --shadow-product-desc: 2px 4px 4px rgba(0, 0, 0, 0.25);
  
  --shadow-reasons: 1px 2px 2px rgba(0, 0, 0, 0.5);
  --shadow-reasons-hover: 3px 4px 2px rgba(0, 0, 0, 0.5);
  
  --shadow-preorder-button: 2px 2px 0px rgba(149, 172, 242, 1);

  --shadow-promo: 0px 0px 80px rgba(0, 0, 0, 0.5);

  --drop-shadow-profile: 2px 3px 1px rgba(0, 0, 0, 0.5);
}

* {
  /* border: 0.1px solid red; */
}

html {
  scroll-behavior: smooth;
}
